html, body {
  background: transparent;
  background: #900;
  font-family: Lato;
  font-size: 20px;
}

#accordion {
  background: rgba(255, 255, 255, 0.5);
}
#accordion #accordion-list {
  padding: 0;
  margin: 0;
}
#accordion #accordion-list .carer {
  float: left;
  margin: 0;
  padding: 0;
}

#notification {
  display: none;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}
#notification > div {
  display: table-cell;
  padding: 0.5rem;
  vertical-align: middle;
}
#notification #profile {
  height: 2.5rem;
  border-radius: 50%;
}
#notification #answer {
  background: #5cb85c;
}
#notification #decline {
  background: #d9534f;
}
