* {
  box-sizing: border-box;
}

html, body {
  background: transparent;
  font-family: Lato;
  font-size: 20px;
}

.status {
  font-size: 0.8rem;
  font-weight: 900;
}
.status.online {
  color: #028c00;
}
.status.offline {
  color: #d9534f;
}

#accordion {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  right: 0;
}
#accordion #accordion-list {
  padding: 0;
  list-style: none;
  margin: 0;
}
#accordion #accordion-list .carer {
  float: left;
  margin: 0;
  padding: 0;
  width: 6rem;
  margin-right: 2rem;
  -webkit-transition: -webkit-transform 0.5s linear;
          transition: transform 0.5s linear;
}
#accordion #accordion-list .carer.active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}
#accordion #accordion-list .carer img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}
#accordion #accordion-list .carer .name {
  width: 100%;
  overflow: hidden;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
}

#notification {
  display: none;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
}
#notification > div {
  display: table-cell;
  padding: 0.5rem;
  vertical-align: middle;
}
#notification #profile {
  height: 2.5rem;
  border-radius: 50%;
}
#notification #answer {
  background: #028c00;
}
#notification #decline {
  background: #d9534f;
}
