$success: #028c00;
$danger: #d9534f;

* {
  box-sizing: border-box;
}

html, body {
  background: transparent;
  font-family: Lato;
  font-size: 20px;
}

.status {
  font-size: 0.8rem;
  font-weight: 900;

  &.online {
    color: $success;
  }

  &.offline {
    color: $danger;
  }
}

#accordion {
  background: rgba(0, 0, 0, 0.5);
  border-bottom: 0.2rem solid rgba(0, 0, 0, 0.2);
  padding: 2rem;
  position: absolute;
  top: 0;
  left: 0;
  font-weight: bold;
  right: 0;

  #accordion-list {
    padding: 0;
    list-style: none;
    margin: 0;

    .carer {
      float: left;
      margin: 0;
      padding: 0;
      width: 6rem;

      img {
        height: 6rem;
        width: 6rem;
      }

      .name {
        width: 100%;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}

#notification {
  display: none;//table;
  border-radius: 40px;
  background: rgba(255, 255, 255, 0.5);
  font-weight: bold;
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;

  > div {
    display: table-cell;
    padding: 0.5rem;
    vertical-align: middle;
  }

  #profile {
    height: 2.5rem;
    border-radius: 50%;
  }

  #answer {
    background: $success;
  }

  #decline {
    background: $danger;
  }
}
