$success: #028c00;
$danger: #af1313;

* {
  box-sizing: border-box;
}

#background {
  position: absolute;
  width: 100%;
  height: 17rem;
  top: 0;
  left: 0;
}

html, body {
  background: transparent;
  font-family: Lato;
  padding: 0;
  margin: 0;
  font-size: 20px;
}

#close-call {
    padding: 1rem;
    background: rgba(0, 0, 0, 0.5);

    color: #fff;
    position: absolute;
    bottom: 1rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%, 0);
}

.status {
  font-size: 0.8rem;
  font-weight: 900;
  color: $success;

  &.online {
  }

  &.offline {
    color: $danger;
  }
}

.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}

#container {
  display: block !important;
  transition: all 0.3s ease;
  opacity: 1;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  /* transform: translate(0, 0); */

  &.ng-hide {
    opacity: 0;
    top: 0.5rem;
    /* transform: translate(0, -100%); */
  }
}

#video {
  position: absolute;
  width: 700px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block !important;
  transition: all 0.2s linear;

  &.ng-hide {
    top: 60%;
    opacity: 0;

    #loading {
      top: 60%;
      transition-delay: 0.5s;
      opacity: 0;
    }
  }

  #loading {
    text-align: center;
    position: absolute;
    transition-delay: 0.5s;
    transition: all 0.2s linear;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
  }
}

#accordion-indication {
  position: absolute;
  top: 2rem;
  right: 2rem;
  text-shadow:
    1px 1px 0 #fff, -1px -1px 0 #fff,
    0 -1px 0 #fff, 0 1px 0 #fff,
    -1px 0 0 #fff, 1px 0 0 #fff,
}

#accordion {
  padding: 2rem;
  position: absolute;
  color: #fff;
  top: 0;
  left: 0;
  right: 0;

  #accordion-list {
    padding: 0;
    list-style: none;
    margin: 0;
    position: absolute;

    .carer {
      float: left;
      margin: 0;
      padding: 0;
      width: 6rem;
      margin-right: 3rem;
      transition: all 0.1s ease-in-out;
      transform: scale(0.95);

      &.active {
        opacity: 1;
        transform: scale(1.1);
      }

      img {
        height: 6rem;
        width: 6rem;
      }

      .name {
        width: 100%;
        overflow: hidden;
        display: block;
        white-space: nowrap;
        text-overflow: ellipsis;
        text-align: center;
      }
    }
  }
}

#notification {
  display: table !important;
  position: absolute;
  color: #fff;
  background: rgba(0, 0, 0, 0.5);
  top: 1rem;
  right: 1rem;
  animation: tada 1s infinite linear;
  transition: all 0.2s linear;
  transform: scale(1);
  opacity: 1;

  &.left {
    left: 1rem !important;
  }

  &.ng-hide {
    opacity: 0;
    top: 1.5rem;
  }

  > div {
    display: table-cell;
    padding: 1rem;
    vertical-align: middle;
  }

  #profile-container {
    padding-right: 0;
  }

  #profile {
    height: 3rem;
    border-radius: 50%;
  }

  #name {
    padding-right: 2.5rem;
  }

  #controls {
    padding: 0;
    border-left: 1px solid rgba(255, 255, 255, 0.5);
  }

  #answer {
    height: 50%;
    padding: 0.8rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    color: $success;
  }

  #decline {
    height: 50%;
    padding: 0.8rem;
    color: $danger;
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%, 20% {
    -webkit-transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(.98, .98, .98) rotate3d(0, 0, 1, -1deg);
  }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, 1deg);
  }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
    transform: scale3d(1, 1, 1) rotate3d(0, 0, 1, -1deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.one, .two, .three {
  /* font-size: 2rem; */
}

.one {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.0s;
    animation: dot 1.3s infinite;
    animation-delay: 0.0s;
}

.two {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.2s;
      animation: dot 1.3s infinite;
      animation-delay: 0.2s;
}

.three {
    opacity: 0;
    -webkit-animation: dot 1.3s infinite;
    -webkit-animation-delay: 0.3s;
     animation: dot 1.3s infinite;
     animation-delay: 0.3s;
}

@-webkit-keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes dot {
      0% { opacity: 0; }
     50% { opacity: 0; }
    100% { opacity: 1; }
}
