<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../">
    <link rel="stylesheet" href="static/css/main.min.css">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/main.js"></script>
  </head>
  <body onload="init()" ng-controller="call as ctrl" id="hotbod">
    <video
        src="http://104.131.146.161/static/test.m3u8"
        height="486" width="864"
        id="vid" autoplay="true">
    </video>
    <div id="close-call">
        Close Call (1)
    </div>
  </body>
</html>
