<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/main.min.css">
    <script src='http://cdn.firebase.com/js/client/2.2.1/firebase.js'></script>
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/main.js"></script>
  </head>
  <body ng-app="livesaver" ng-controller="main as ctrl">
    <div id="notification">
      <div>
        <img id="profile" src="static/img/profile.jpg" alt="">
      </div>
      <div id="name">
        Andrew Milson
      </div>
      <div id="answer">Answer</div>
      <div id="decline">Decline</div>
    </div>

    <div id="container" ng-show="ctrl.state">
      <div id="accordion">
        <div id="accordion-container">
          <ul id="accordion-list">
            <!-- <li class="carer">
              <img src="https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xat1/v/t1.0-1/c20.97.647.647/s160x160/11295927_821754584599114_1130007854582966439_n.jpg?oh=c94f2e8784bd40897ddcaa971049fa45&oe=566803E2&__gda__=1453802551_fc1b86e382cb85b5206031d7e4664781" alt="">
              <div class="name">
                Andrew Milson <br>
                <span class="status online">online</span>
              </div>
            </li> -->

            <li class="carer" ng-repeat="carer in ctrl.carers">
              <img ng-src="[[ carer.profilePicUrl ]]" alt="">
              <div class="name">
                [[ carer.firstName ]] <br> [[ carer.lastName ]]
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
