<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../">
    <link rel="stylesheet" href="static/css/main.min.css">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/main.js"></script>
  </head>
  <body class="preload" onload="init()" ng-controller="main as ctrl">
    <div id="dummy"><video
        src="http://104.131.78.132/static/test.m3u8"
        height="486" width="864"
        id="vid" autoplay="true"
        onabort="console.log(' ABORT ')"
        oncanplay="console.log(' CAN PLAY ')"
        oncanplaythrough="console.log(' CAN PLAY THROUGH' )"
        oncuechange="console.log(' CUE CHANGE ')"
        ondurationchange="console.log(' DURATION CHANGE ')"
        onemptied="console.log(' EMPTIED ')"
        onended="console.log( 'ENDED' )"
        onerror="console.log(' ERROR' )"
        onloadeddata="console.log(' LOADED DATA ')"
        onloadedmetadata="console.log(' LOADED METADATA ')"
        onloadstart="console.log(' LOAD START ')"
        onpause="console.log(' PAUSE ')"
        onplay="console.log(' PLAY ')"
        onplaying="console.log(' PLAYING ')"
        onprogress="console.log(' PROGRESS ')"
        onratechange="console.log(' RATE CHANGE ')"
        onseeked="console.log(' SEEKED ')"
        onseeking="console.log(' SEEKING ')"
        onstalled="console.log(' STALLED ')"
        onsuspend="console.log(' SUSPEND ')"
        onvolumechange="console.log(' VOLUME CHANGE ')"
        onwaiting="console.log(' WAITING ')"
    >
    </video></div>
    <img ng-show="ctrl.state == 'accordion'" id="background" src="static/img/gradient.png" alt="">
    <div id="notification" ng-show="ctrl.state == 'dialing'">
      <div id="profile-container">
        <img id="profile" src="static/img/miquel.png" style="margin-bottom: -3px;" alt="">
      </div>
      <div id="name">
        Andrew Milson
      </div>
      <div id="controls">
        <div id="answer">Answer (1)</div>
        <div id="decline">Decline (2)</div>
      </div>
    </div>

    <div id="video" ng-show="ctrl.state == 'connecting'">
      <div id="loading">
        <img src="static/img/miquel.png" alt=""><br>
        Miquel Llobet <br>
        Connecting
        <span>
          <span class="one">.</span>
          <span class="two">.</span>
          <span class="three">.</span>
        </span>
      </div>
    </div>

    <div id="container" ng-show="ctrl.state == 'accordion'">
      <div id="accordion">
        <div id="accordion-container">
          <ul id="accordion-list">
            <li class="carer" ng-class="{active: $index == ctrl.accordion.index}" ng-repeat="carer in ctrl.carers">
              <img ng-src="[[ carer.profilePicUrl ]]" alt="">
              <div class="name">
                [[ carer.firstName ]] <br> [[ carer.lastName ]] <br>
                <span class="status" ng-class="carer.active ? 'online' : 'offline'">
                  [[ carer.active ? 'online' : 'offline' ]]
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
