<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../">
    <link rel="stylesheet" href="static/css/main.min.css">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/main.js"></script>
  </head>
  <body onload="init()" ng-controller="main as ctrl" id="hotbod">
    <img ng-show="ctrl.state == 'accordion'" id="background" src="static/img/gradient.png" alt="">
    <div id="notification" ng-show="ctrl.state == 'dialing'">
      <div id="profile-container">
        <img id="profile" src="static/img/miquel.png" style="margin-bottom: -3px;" alt="">
      </div>
      <div id="name">
        Andrew Milson
      </div>
      <div id="controls">
        <div id="answer">Answer (1)</div>
        <div id="decline">Decline (2)</div>
      </div>
    </div>

    <div id="video" ng-show="ctrl.state == 'connecting'">
      <div id="loading">
        <img src="static/img/miquel.png" alt=""><br>
        Miquel Llobet <br>
        Connecting
        <span>
          <span class="one">.</span>
          <span class="two">.</span>
          <span class="three">.</span>
        </span>
      </div>
    </div>

    <div id="container" ng-show="ctrl.state == 'accordion'">
      <div id="accordion">
        <div id="accordion-container">
          <ul id="accordion-list">
            <li class="carer" ng-class="{active: $index == ctrl.accordion.index}" ng-repeat="carer in ctrl.carers">
              <img ng-src="[[ carer.profilePicUrl ]]" alt="">
              <div class="name">
                [[ carer.firstName ]] <br> [[ carer.lastName ]] <br>
                <span class="status" ng-class="carer.active ? 'online' : 'offline'">
                  [[ carer.active ? 'online' : 'offline' ]]
                </span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </body>
</html>
