<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="../">
    <link rel="stylesheet" href="static/css/main.min.css">
    <script src="static/js/angular.min.js"></script>
    <script src="static/js/main.js"></script>
  </head>
  <body onload="init()" ng-controller="message as ctrl" id="hotbod">
    <div id="close-call">
        Close Message (1)
    </div>
  </body>
</html>
